<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="login" appConnect="local" components="{dmxValidator:{},dmxNotifications:{},dmxBrowser:{}}" -->
<div is="dmx-browser" id="browser1"></div>
<dmx-notifications id="notifies1">

</dmx-notifications>
<meta name="ac:route" content="/login">
<div class="container mt-5">
    <form id="login1" is="dmx-serverconnect-form" method="post" action="/api/registration/login" dmx-on:error="notifies1.danger('ERROR')" dmx-on:unauthorized="notifies1.warning('Unauthorised')" dmx-on:success="notifies1.success('Success: Logged In');browser1.goto('/',true,'Home Page')" dmx-on:forbidden="browser1.goto('/validate-account',true,'Validate Account')">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-start bg-light pt-3 pb-3">
                <div class="row">
                    <div class="col">
                        <h1>Log In</h1>
                        <p class="text-h3">Enter your details below.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-4">
                        <input type="text" id="inp_email" name="email" class="form-control" placeholder="Email" required="" data-rule-email="">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <input type="password" id="inp_password" name="password" class="form-control" placeholder="Password" required="">
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="inp_remember" name="remenber">
                            <label class="form-check-label" for="inp_remember">Remember me</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col">
                        <button id="login1_submit" class="btn text-light bg-success btn-success" type="submit">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>